<div class="jumbotron text-center">
    <center>
        <form ng-submit="submit()">
            <h2 style="color: limegreen">Login</h2>
            <input  class="fa fa-user" type="text" name="u" placeholder="Username" required="required" ng-model="user"/><br/><br/>
            <input class="fa fa-key" type="password" name="p" placeholder="Password" required="required" ng-model="pass"/><br/><br/>
            <button type="submit" style="color: limegreen">Let me in.<i class="fa fa-sign-in"></i></button>
        </form>
    </center>
</div>